.child-border-neon-blue > div {
    border-color: #0e4fe6;
}

.child-border-neon-red > div {
    border-color: rgb(255, 35, 83);
}

.child-border-neon-violet > div {
    border-color: slateblue;
}

.hover-pointer {
    cursor: pointer;
}

.default-pointer {
    cursor: default;
}

.card-image-used {
    filter: grayscale(40%) brightness(40%);
}

.card-use-abort-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
}

.card-discard-button {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.418);
}

.card-disabled {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    border: 0;
}

.card-disabled span {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
}

.card-use-abort-button > div:hover {
    background-color: #cf8e8eb9;
}

.card-use-abort-button > div {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    background-color: #bd94949a;
}
