.card-drop {
    display: block;
    height: 100px;
    width: 200px;
    background-color: gray;
}

.end-turn-btn {
    cursor: pointer;
    height: 8.5vh;
    width: 25vh;
    color: white;
    background-color: rgb(21, 197, 21);
    margin-top: 8vh;
    border: solid;
    font-size: 30px;
}
.end-turn-btn-waiting {
    color: grey;
    background-color: #353535;
}

.keyboard-wrapper {
    position: relative;
    height: 57.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
