.gameWrapper {
    font-family: 'Nunito', sans-serif;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

@keyframes moveFlashing {
    from {
        background-color: rgba(60, 202, 76, 0.6);
    }
    to {
        background-color: rgba(81, 240, 99, 0.6);
    }
}

.cards-title {
    font-size: 3vh;
    font-weight: 900;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    width: 11vw;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    width: 12vw;
    padding: 1vh;
    flex: 1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw;
}

.card-title {
    font-size: 1.5vh;
    font-weight: bold;
    text-align: center;
}

.card-image {
    display: block;
    flex: 1;
    margin: auto;
    margin-bottom: 1vw;
    width: 7vw;
    height: auto;
    filter: hue-rotate(0deg);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.word {
    font-size: 3vw;
    border-radius: 2vw;
    background-color: #7ea8be;
    padding: 2vw;
}

.keyboard {
    display: flex;
    margin: 2vh 1vw 1vw 1vh;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(53, 53, 53);
    padding: 1vh;
    border-radius: 1vh;
    width: 40vw;
    justify-content: center;
}

.key {
    display: block;
    cursor: pointer;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    padding: 0;
    height: 5vh;
    width: 5vh;
    margin: 1vh;
    border: 0;
    outline: 0;
    border-radius: 0.5vh;
    color: whitesmoke;
    background-color: rgb(81, 156, 63);
}
