.login-page-content{
    display: flex;
    margin: auto;
    flex-direction: column;
}
.inputNickname {
    margin-right: 1vw;
    border-radius: 1vh;
    font-size: 4vw;
}

.infoNickname {
    text-align: center;
    font-size: 3vw;
}

.infoNickname > span {
    margin: auto;
    text-align: center;
    display: inline-block;
}
.submit-btn{
    background-color: rgb(52, 133, 52)
}
.submit-btn:hover{
    background-color: rgb(58, 151, 58)
}


.nickname-input {
    display: flex;
    margin-top: 1vw;
}

.nickname-input > input {
    padding: 1vw;
}

.nickname-input > button {
    font-size: 3vw;
    border-radius: 1vh;
    padding: 2vh;
}
