.header {
    border: 0;
    border-bottom-width: 0.3vh;
    border-style: solid;
    border-color: rgb(122, 214, 35);
}

.header > div {
    border: 0;
}
.scoreHeader, .title, .column{
    width:100%
}

.scoreHeader {
    display: flex;
}
  
.flex-item {
    flex: 1;
    display: flex;
    justify-content: center;
}
  
.flex-item:first-child>span{
    width:100%;
    margin-right: auto;
    margin-left: 35vw;
}
  
.flex-item:last-child>span {
    width:100%;
    margin-left: auto;
    margin-right: 35vw;
}