.header {
    font-weight: 300;
    border: 0;
    border-bottom-width: 0.3vh;
    border-style: solid;
    border-color: rgb(122, 214, 35);
}

.header > div {
    border: 0;
}

.title {
    font-size: 3.5vh;
}

.title,
.header > .column,
.column > .title {
    width: 100%;
    text-align: center;
}

.scoreHeader {
    display: flex;
    width: 100%;
    text-align: center;
}

.flex-item {
    display: flex;
    flex: 0;
    margin: 0 2vw;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
}

.flex-item > span {
    display: flex;
}

.flex-item.me {
    flex: 1;
    justify-content: flex-end;
    color: khaki;
}

.flex-item.enemy {
    flex: 1;
    justify-content: flex-start;
    color: khaki;
}

.flex-item.score {
    font-size: 4.5vh;
    color: orange;
}
.options-btn {
    position: absolute;
    right: 0;
    margin-right: 3vh;
}

.dropdown-options {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0, 1.04, 1, 1);
    position: absolute;
    background-color: rgb(53, 53, 53);
    min-width: 50vh;
    min-height: 10vw;
    right: 0;
    margin: 1vh;
    padding: 1vh;
    z-index: 2000;
}
.options-btn:hover .dropdown-options {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0, 1.04, 1, 1);
    margin: auto;
    justify-content: center;
    align-items: center;
}

.gear-icon,
.gear-icon-wrapper {
    font-size: initial;
}

.gear-icon-wrapper > div.gear-icon > svg {
    transform: rotate(0deg);
    transition: transform 0.4s cubic-bezier(0, 1.04, 1, 1);
}

.gear-icon-wrapper:hover > div.gear-icon > svg {
    filter: brightness(140%);
    transform: rotate(360deg);
}

.options-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    font-size: 2vh;
}

.options-item {
    margin: 2.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vh;
}

.options-item > span,
.options-item > input,
.options-item > div {
    display: flex;
}

.options-items > div > input {
    font-size: 2.5vh;
    margin: 0;
}

.save-btn-wrapper {
    justify-content: center;
}

.save-btn-wrapper > button {
    font-size: 4vh;
}

.options-icon {
    flex: 1;
}

.slider-wrapper,
.options-item-description {
    flex: 3;
}

.slider-wrapper {
    align-items: center;
}

.nickname-input {
    width: 100%;
    justify-content: center;
    align-items: stretch;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5vh;
    background-color: rgb(36, 36, 36);
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#sound-slider-thumb::-webkit-slider-thumb {
    background-color: #bbb193;
}

#music-slider-thumb::-webkit-slider-thumb {
    background-color: #7ea8be;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 1vh;
    width: 2vw;
    height: 6 vh;
    cursor: pointer;
}
