.optionsWrapper{
  width: 70vw;
  height: 90vh;
  margin: auto;
  color:white;
  font-size: 3vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
.optionsContent{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.optionsContent > .countryOptions{
    display: flex;
}
.country-image-in-options{
  margin-left: 5vh;
  height: 14vh;
}
.changeNickname{
  width: 40vh;
  background: rgb(24,24,24);
}
.slider-neon{
  -webkit-appearance: none;
  appearance: none;
  width: 40vh;
  height: 25px;
  background: rgb(24,24,24);
  outline: none;
}